table.records, table.records td, table.records th{
  border:1px solid #CCC	;
}
table.records th{
  color:black;
  padding:4px;
}
table.records td{
text-align:center;
}

table.records a{
  color:grey;
  display:block;
  text-decoration:none;
  padding:4px;
}
table.records tr{
  color:#00AFF2;
}
table.records tr:hover{
  background-color:#5FCCF3;
  color:white;
}
table.records a:hover{
  color:white;
  background-color:grey;
}

div.panel{
  width:510px;
  float:left;
  border-top:1px solid grey;
  padding:0;
  color:white;
  font-size:17px;
}

div.panel a{
  color:green;
  text-decoration:none;
  margin-left:11px;
}

div.panel a:hover{
  color:black;
  font-size:18px;
}

div.record{
  width:500px;
  height:17px;
  padding:5px; 
  border-bottom:1px solid grey;
  background-color:#5FCCF3;
}
div.record:hover{
  background-color:white;
  color:black;
}

div.rleft, div.rleftsub{
  float:left;
}
div.rright{
  float:right;
}
div.rleftsub{
  margin-left:15px;
}
div.newrecord{
  float:left;
}
div.newrecord a{
  display:block;
  width:510px;
  text-align:center;
  background-color:#CCC;
}
div.newrecord a:hover{
  background-color:#c4c4c4;
}
