<?php header("Content-type: text/css"); ?>

div#showtables
{
	width:750px;
	font-family:Arial;
}

#showtables table
{
	width:100%;
}

#showtables h3
{
	font-size:14px;
	color:#565656;
}

#showtables ul
{
	list-style-type:none;
	margin:0;padding:0;
}

#showtables ul li
{
	margin:0;padding:0;
	width:155px;
}

div#showtables a
{
  display:block;
  font-size:12px;
  height:18px;
  color:#00AFF2;
  padding:3px;
  padding-left:10px;
  text-decoration:none;
}
div#showtables a:hover{
  background-color:#00AFF2;
  color:white;
}
div.panel{
  width:100%;
  float:left;
  border-top:1px solid grey;
  padding:0;
  color:white;
  font-size:15px;
}

div.titlepanel{
  color:black;
  height:20px;
  padding:7px;
  background-color:#00AFF2;
  border-bottom:1px solid black;
}
div.titlepanel div.tleft{
  float:left;
}
div.titlepanel div.tcenter{
  float:left;
  text-align:center;
  width:70%;
}

div.panel a{
  color:green;
  text-decoration:none;
  margin-left:11px;
}

div.panel a:hover{
  color:black;
}

div.record{
  width:99%;
  height:17px;
  padding:5px; 
  border-bottom:1px solid grey;
  background-color:#5FCCF3;
  font-size:14px;
  font-family:Arial;
}
div.record:hover{
  background-color:white;
  color:black;
}

div.rleft, div.rleftsub{
  float:left;
}
div.rright{
  float:right;
}
div.rcenter{
  float:left;
  width:71%;
  text-align:center;
}

div.rleftsub{
  margin-left:13px;
}
div.newrecord{
  float:left;
  width:100%;
  height:17px;
}
div.newrecord a{
  display:block;
  margin-left:0px;
  text-align:center;
  background-color:#CCC;
}
div.newrecord a:hover{
  background-color:#c4c4c4;
}

label.newpiclabel{
  cursor:pointer;
  text-decoration:underline;
}


.admin_edit_button{ font-size: 11px; color: #0cb5f5; float: right; cursor: pointer; display: inline-block; }
.admin_edit_button:hover{ text-decoration: underline; }





#gp_add_data_field{ color: #4CBEFF; cursor: pointer; font-size: 13px; display: block; margin: 17px 0px; }
