<?php

header("Content-type: text/css");

include_once('application/functions.php');

function parse_damn_css($content)
{
    $variables = array(
    "@opentaps_default_color" => "#0cb5f5",
    "@opentaps_default_rgba" => "12, 181, 245",
    "@baseurl" => '.',
    "@opentaps_default_bordercolor" => "#A6A6A6"
    );
    return strtr($content, $variables);
    //return str_replace(array_keys($variables), $variables, $content);
}

ob_start('parse_damn_css');

?>

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* General */
* { margin: 0 auto; font-family: arial; word-wrap: break-word }
.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0 }
* html .group { zoom: 1 } /* IE6 */
*:first-child+html .group { zoom: 1 } /* IE7 */
body { margin-top: 0px; color: #565656; padding-bottom: 25px; font-size: 100.01%; background-attachment: fixed }
a:active, a:focus, a:hover { outline: none }
input[type="text"], input[type="password"] { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; border: 1px solid #AAA; padding: 4px; outline: none; color: #565656 }
input[type="text"]:focus, input[type="password"]:focus { border: 1px solid #5897fb; -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow: 0 0 5px rgba(0,0,0,.3); -o-box-shadow: 0 0 5px rgba(0,0,0,.3); box-shadow: 0 0 5px rgba(0,0,0,.3) }
body, div.header_right { background-image: url('@baseurl/images/bg.jpg') }
.main { width: 930px; min-height: 100px; margin-left: auto; margin-right: auto; background-color: #fff; padding: 22px 25px 7px 25px }

/* Header */
div.header img { cursor: pointer }
div.header_right { width: 563px; height: 74px; float: right; padding: 17px 31px 25px 21px; font-size: 12px; font-family: Arial; color: #565656 }
.slide { display: none; width: 510px; margin-left: 20px; height: 98px }
.slide a { text-decoration: none; color: #565656 }
.slide a:hover { color: #303030 }
.slider_date { font-size: 10px; position: absolute; bottom: 0px; right: 15px }
.slide_switcher_right, .slide_switcher_left { cursor: pointer; display: block; width: 23px; height: 20px; background: #fff; margin-bottom: 46px; font-size: 15px; padding-top: 3px; text-align: center }
.slide_switcher_right { margin-right: 9px }
.slide_switcher_left { margin-left: 9px }
div.header_right p { font-size: 1.55em; font-family: Arial; margin-bottom: 6px }
div.after_header { height: 7px; margin-top: 22px; background-image: url('@baseurl/images/bg_after_header.jpg') }

/* Menu */
div.menu ul { list-style-type: none; padding: 0; float: left }
div.menu ul li { float: left; font-size: 0.85em }
div.menu ul li a { display: block; height: 26px; padding: 10px 10px 0px 10px; text-decoration: none; color: #565656; font-size: 13px; font-family: Arial; outline: 0 }
div.menu ul li a:hover, div.menu ul li:hover { color: white; background-color: #5FCCF3; outline: 0 }
div.projects_organization, div.news, div.spacer { display: table-cell; vertical-align: middle; text-align: center; color: #fff; font-size: 1.0em; font-family: Arial }
#override_border { width: 0px; height: 1px; position: absolute; top: 0; left: 0; background: #fff }

/* Submenus */
#submenu .submenu { display: none; width: 100%; border: 1px dotted @opentaps_default_bordercolor; border-bottom: 0 }
#submenu .submenu table { width: 100% }
#submenu .submenu td { vertical-align: middle; width: 149px; float: left; margin-left: 17px; margin-right: 17px; font-size: 11px; font-family: arial; border-bottom: 1px dotted @opentaps_default_bordercolor }
#submenu .submenu td a { display: block; color: #7c7c7c; padding: 3px; padding-bottom: 5px; text-decoration: none }
#submenu .submenu td a:hover { background-color: rgba(95,204,243,.2); border-color: rgba(0,0,0,.1) }

div.search { float: right; border-left: 1px solid grey; margin-top: 5px; padding-left: 2px }
div.search input.search { border: 0px; height: 25px; width: 122px; color: grey }
div.search input.submit { background-image: url('@baseurl/images/search.jpg'); cursor: hand; cursor: pointer; width: 16px; height: 16px; border: 0px }
div.after_menu { border-bottom: 1px dotted @opentaps_default_bordercolor; width: 100%; float: left }

div#map { height: 360px; width: 100%; border: 1px dotted @opentaps_default_bordercolor }
div#map:before, div.menu:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0 }

div.projects_organization { width: 282px; float: left }
#organization_project_types { width: 100%; border-top: 1px dotted #a6a6a6; border-bottom: 1px dotted #a6a6a6; margin: 0px }
#organization_project_types a { display: block; margin: 12px 12px 16px; float: left; text-decoration: none; text-align: center; color: #0CB5F5; padding: 0px }
#organization_project_types a:hover { text-decoration: underline }
#organization_project_types img { display: block; width: 23px }

div.news { width: 573px; margin: 0; float: right }
div.news, div.projects_organization { padding: 6px 0px 6px 13px; font-weight: bold; text-align: left; background: @opentaps_default_color }
a.organization_project_link { display: block; border-bottom: 1px dotted #a6a6a6; padding: 3px 17px 3px 8px }
a.organization_project_link img { vertical-align: middle; margin-right: 3px; margin-bottom: 3px; width: 23px }
#home-chart-container { padding: 0; float: left; margin: 0; width: 293px; height: 321px }
div.newsall_body { width: 573px; color: #565656; font-size: 13px; font-family: Arial; border: 1px dotted @opentaps_default_bordercolor; border-top: 0px; float: left; border: 0px }
div.news_body { float: right; width: 535px; padding: 28px 22px 15px 27px; border: 1px dotted @opentaps_default_bordercolor; border-top: 0px }
.news_body .top_image { width: 249px; height: 151px; display: inline-block; float: left; border-right: 6px solid #0cb5f5 }
.news_body .top_image img { width: 248px; height: 151px; border-right: 1px solid #fff }
.news_body .top_image .over_background { position: absolute; width: 248px; height: 113px; padding-top: 38px; text-align: center; color: #fff; background: rgba(@opentaps_default_rgba, .6); font-size: 13px }
#news_middle_content { width: 535px; height: 154px; margin-top: 33px; background: url(@baseurl/images/bg.jpg) }
.news_body #left_image_box { padding: 13px 16px 13px 15px; height: 128px; width: 128px; overflow: hidden; float: left }
.news_body #left_image_box img { height: 128px; width: 128px }
#right_titles_box { height: 152px; border-top: 1px solid transparent; border-bottom: 1px solid transparent; width: 375px; float: right }
.right_title_one { background: #fff; border-right: 6px solid #0cb5f5; width: 369px; height: 36px; font-size: 10px }
.right_title_one:hover { background: rgba(0,0,0,0); border-color: rgba(@opentaps_default_rgba, .7) }
.right_title_one a:hover { color: #000 }
.right_title_one a span { margin-right: 9px; font-size: 12px }
.right_title_one a { padding: 9px 0px 14px 16px; color: #858585; text-decoration: none; display: block }
#news_bottom_content { font-size: 12px; margin: 8px 2px 0px 0px; float: right }
#news_bottom_content a { color: #858585; text-decoration: none }
#news_bottom_content a:hover { text-decoration: underline }
#region_link, .region_link { text-decoration: none; color: @opentaps_default_color; cursor: pointer }
#region_link:hover, .region_link:hover { text-decoration: underline }
.content { width: 932px; min-height: 120px; margin-top: 0px; padding: 0 }

/* Projects */
#project_content { font-size: 12px; font-family: arial }
#project_details { float: left; width: 386px; min-height: 244px; border-right: 1px dotted @opentaps_default_bordercolor; border-bottom: 1px dotted @opentaps_default_bordercolor }
#project_description { margin-top: 30px; /*text-align: justify*/ }
#project_description div.withmargin { margin-bottom: 21px; margin-top: 6px; }
#project_description .desc { font-weight: bold; font-size: 19px }
#project_budget { background: @opentaps_default_color; height: 55px; border-bottom : 1px dotted @opentaps_default_bordercolor; padding-left: 16px; padding-top: 10px; color: rgba(255,255,255, .9) }
.project_details_line { min-height: 21px; border-bottom: 1px dotted @opentaps_default_bordercolor; padding-top: 4px }
.project_details_line div { float: left }
.line_left { width: 135px; padding-left: 16px }
.data_block { width: 240px; min-height: 45px; border: 1px dotted @opentaps_default_bordercolor; margin-bottom: 10px; /*text-align: justify*/ }
.data_block .key { background: @opentaps_default_color; color: rgba(255, 255, 255, 1); padding: 10px 0px 10px 17px; font-size: 13px; border-bottom: 1px dotted @opentaps_default_bordercolor }
.data_block .value { padding: 10px 17px 10px 17px; word-wrap: break-word }
.data_block .value a, #right_box_tags a { color: #565656; text-decoration: none }
.data_block .value a:hover, #right_box_tags a:hover { text-decoration: underline }
#charts { float: left; width: 673px }
#charts .title { color: #808080; font-size: 15px }
#charts div img { clear: both }
#charts div img:after { clear: both }
.export { width: auto; margin-left: auto; margin-right: auto; text-align: center; margin-top: 5px }
.export a { color: grey; text-decoration: none }
.export a:hover { color: black; text-decoration: underline }
.expand_title { width: 625px; display: block; font-weight: bold; font-size: 14px; padding: 10px 0px 10px 15px; border-bottom: 1px dotted @opentaps_default_bordercolor; cursor: pointer }
.expandable { padding-left: 28px; display: none; margin-top: 4px }
.budget-container { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid rgba(0,0,0,.2); padding: 8px; margin-bottom: 8px }

/* Tags */
#tag_content { font-family: arial }
#tag_content a { text-decoration: none; color: #565656; font-size: 11px }
#tag_content #region_link, #tag_content .region_link { color: #0CB5F5 }
#left_list, #right_list { min-height: 100px }
#left_list { width: 640px; float: left }
.headers { width: 100%; background: #0cb5f6; height: 39px; color: #fff }
.chzn-container { color: #565656 }
.headers_left { float: left; padding-top: 10px; padding-left: 17px; font-size: 16px }
.headers_right { float: right; padding-top: 12px; padding-right: 13px; font-size: 11px }
#titletype { width: 100%; border-bottom: 1px solid #d1d1d1 }
.titletype_left { float: left; padding: 11px; padding-left: 17px; font-size: 11px }
.titletype_center { float: left; font-size: 11px; padding: 11px; padding-right: 2px }
.titletype_right { float: right; font-size: 11px; padding: 11px; padding-right: 2px }
.choosedef, .choosedef_selected { padding: 5px; display: inline-block; border: 1px solid transparent }
.choosedef:hover, .choosedef_selected { border: 1px solid @opentaps_default_bordercolor; border-bottom: 1px solid #E0E0E0; border-right: 1px solid #F0F0F0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background: #F0F0F0 }
.newstypebg1, .newstypebg2, .newstypebg3 { display: inline-block; width: 6px; height: 6px }
.newstypebg1 { background: #19c1ff/*rgba(25, 193, 255, .9)*/ }
.newstypebg2 { background: #83ddff }
.newstypebg3 { background: #d9f5ff }
#internal_container { width: 100%; min-height: 96px; margin-bottom: 10px }
.content_each { width: 100% }
.content_each:hover { text-shadow: 1px 1px 8px rgba(0, 0, 0, .2) }
.with_bg { background: url('@baseurl/images/bg.jpg') }
.content_each_left { float: left; width: 509px; padding: 17px 40px 22px 15px }
.content_each_title { color: #01adef; font-size: 14px }
.content_each_body { font-size: 12px; margin-top: 5px }
.content_each_right { float: right; width: 69px; min-height: 91px; height: 100% }
#pages { text-align: center; font-size: 12px; word-spacing: 2px }
.prevnext { display: inline-block; background: url('@baseurl/images/bg.jpg'); padding-top: 1px; width: 22px; height: 17px }
.prevnext:hover { color: #000 }
#right_list { width: 255px; float: right; border-right: 1px solid transparent }
.right_box { width: 100% }
.right_box_title { width: 100%; padding-top: 9px; padding-left: 20px }
.right_box_content { border: 1px dotted @opentaps_default_bordercolor; border-top: 0; padding: 10px }
#right_box_tags a { font-size: 12px; margin-left: 11px; display: inline-block; margin-bottom: 6px }

div.bottom { width: 932px; border-top: 2px solid #ccc; padding-top: 5px }
div.bottom1, div.bottom2 { float: left; font-size: 0.7em; font-family: arial; color: grey }
div.bottom1 { margin-left: 1px }
#bot-container { position: relative; width: 932px; margin-top: 30px; height: 0px; z-index: 9999999 }
#about_us_button, #contact_us_button { cursor: pointer }
#about-us, #contact-us { background: #fff; display: none; position: absolute; left: 0; bottom: 0; border: 1px dotted @opentaps_default_bordercolor; border-bottom: 0px }
#contact-us { height: 338px }
#contact-us-close-button, #about-us-close-button { cursor: pointer; color: #000 }
#about-us { font-size: 12px; width: 930px; /*text-align: justify*/ }
#about-us-main-title-container, .about-us-main-title-container { color: #fff; background: #0CB5F6; padding: 11px 16px 11px 16px; font-weight: bold }
.about-us-main-title-container { border-bottom: 1px dotted @opentaps_default_bordercolor }
.about-us-title { font-size: 13px }
#about-us-main-title-container { width: 898px }
#about-us-main-title { font-size: 16px; display: inline-block }
.about-us-inner-box { margin-top: 40px; float: left; width: 262px; margin-left: 49px; border: 1px dotted @opentaps_default_bordercolor; margin-bottom: 25px }
.inner-text-box { padding: 14px 16px 11px 15px; /*text-align: justify;*/ display: none; position: relative; width: 231px }
.about-us-inner-button { cursor: pointer }
.about-us-inner-button:active { background: #2f8aac }
#map_image { width: 930px; height: 300px }
#contact_us_toggle { margin: -2px 0px 0px 0px; padding-left: 2px }
#contact-us-form-container { margin: 79px 0px 0px 38px; height: 230px; width: 715px; position: absolute; top: 0; left: 0 }
#contact-us-form { float: right; margin-top: 38px; width: 430px }
#contact-us-circle { float: left; font-family: arial; background: rgba(@opentaps_default_rgba, .9); height: 230px; width: 230px; -webkit-border-radius: 115px; -moz-border-radius: 115px; border-radius: 115px; color: #fff; font-size: 12px; text-align: center }
.contact-us-input { width: 208px; font-size: 11px; height: 13px; padding: 6px; border: 1px solid #45bff5; color: #6d6d6d; margin-bottom: 13px }
#contact-us-textarea { height: 73px; width: 413px }
#contact-us-textarea, .contact-us-input { padding: 6px; font-size: 11px; font-family: arial; border: 1px solid #45bff5; color: white; background: rgba(@opentaps_default_rgba, .9); outline: none }
#contact-us-textarea:hover, .contact-us-input:hover { background: rgba(@opentaps_default_rgba, .75) }
div.bottom a { color: grey; text-decoration: none }
div.bottom a:hover { text-decoration: underline; color: black }
div.bottom2 { float: right; margin-right: 2px; font-size: 10px }
div.bottom2 img { vertical-align: middle; margin-top: -6px }
div.maxItemInactive { position: absolute; float: left; width: 27px; height: 19px; background: url("@baseurl/images/plus.gif"); opacity: .9; top: 15px; left: 50px; cursor: pointer }
div.minItemInactive { position: absolute; float: left; width: 27px; height: 19px; background: url("@baseurl/images/minus.gif"); opacity: .9; top: 15px; left: 15px; cursor: pointer }
div.filtersItemInactive { float: right; position: absolute; left: 850px; top: 15px; width: 65px; font-size: 10pt; color: #FFF; height: 20px; background-image: url("@baseurl/images/filter.gif"); background-repeat: no-repeat; opacity: .9; cursor: pointer }
div.setsItemInactive { background-repeat: no-repeat; width: 25px; height: 20px; background: url("@baseurl/images/sets.jpg"); opacity: .8; margin-top: -20px; margin-left: 875px; cursor: pointer }
div.tagsItemInactive { width: 25px; height: 20px; background: url("@baseurl/images/tags.jpg"); opacity: .8; margin-top: -20px; margin-left: 905px; cursor: pointer }
.page-container { padding: 1em; width: 550px; margin-left: 0px; float: left }
/*#map-overlay { position: absolute; top: 0; left: 0; z-index: 9999; height: 362px; line-height: 362px; width: 100.3%; background-color: #0CB5F6; color: #FFF; text-transform: uppercase; text-align: center; font-weight: bold; font-size: 200% }*/
/*.highcharts-container svg > text { display: none !important }*/


/* Mapping */
#map { background: #DDD }
#map-overlay { cursor: pointer; position: absolute; top: 0; left: 0; z-index: 99999; height: 362px; line-height: 362px; width: 100.3%; background-color: #0CB5F6; color: #FFF; text-transform: uppercase; text-align: center; font-weight: bold; font-size: 200% }
.map-button { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index: 99998; position: absolute; text-decoration: none; display: block; font-size: 13px; letter-spacing: 1px; padding: 2px 7px 3px; color: #FFF; background: #0CB5F5 }
.map-button:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; }
.map-button > img { vertical-align: middle }
#map-minus-button { top: 10px; left: 10px; font-weight: bold }
#map-plus-button { top: 10px; left: 33px; font-weight: bold }
#map-overlays-button { top: 10px; right: 85px }
#map-filter-button { top: 10px; right: 10px }
#map-overlays { right: 85px; top: 35px; }
#map-filter { right: 10px; top: 35px; }
.map-drop-menu { display: none; z-index: 99998; position: absolute; }
.map-drop-menu ul { list-style: none }
.map-drop-menu li { position: relative; list-style: none; display: block; border-bottom: 1px dashed #CFCFCF }
.map-drop-menu li.first { border-top: 1px dashed #CFCFCF }
.map-drop-menu a { display: block; white-space: nowrap; font-size: 12px; padding: 4px 12px 5px; background: #F5F5F5; text-decoration: none; color: #000 }
.map-drop-menu a.active { font-weight: bold }
.map-drop-menu a img { margin-right: 5px; vertical-align: middle }
.map-drop-menu ul ul { display: none; position: absolute; right: 144px; top: 0; border-right: 1px dashed #CFCFCF }
#map-filter > ul > li > a { cursor: default }

.highcharts-container svg > text { display: none !important }
#showtables { /*width: 750px;*/ font-family: Arial }
#showtables table { width: 100%; float: left }
#showtables h3 { font-size: 14px; color: #565656; margin-top: .75em }
#showtables ul { list-style-type: none; margin: 0; padding: 0 }
#showtables ul li { margin: 0; padding: 0; width: 60% }
#showtables a { display: block; font-size: 12px; /*height: 18px;*/ color: #00AFF2; padding: 4px 4px 5px; padding-left: 10px; text-decoration: none; border-bottom: 1px dotted #DDD }
#showtables a:hover { background-color: #00AFF2; color: white }
div.panel { width: 100%; float: left; border-top: 1px solid grey; padding: 0; color: white; font-size: 15px }
div.titlepanel { color: black; height: 20px; padding: 7px; background-color: #00AFF2; border-bottom: 1px solid black }
div.titlepanel div.tleft { float: left }
div.titlepanel div.tcenter { float: left; text-align: center; width: 70% }
div.panel a { color: green; text-decoration: none; margin-left: 11px }
div.panel a:hover { color: black }
div.record { width: 99%; height: 17px; padding: 5px; border-bottom: 1px solid grey; background-color: #5FCCF3; font-size: 14px; font-family: Arial }
div.record:hover { background-color: white; color: black }
div.rleft, div.rleftsub { float: left }
div.rright { float: right }
div.rcenter { float: left; width: 71%; text-align: center }
div.rleftsub { margin-left: 13px }
div.newrecord { float: left; width: 100%; height: 17px }
div.newrecord a { display: block; margin-left: 0px; text-align: center; background-color: #CCC }
div.newrecord a:hover { background-color: #c4c4c4 }
label.newpiclabel { cursor: pointer; text-decoration: underline }
.admin_edit_button { font-size: 11px; color: #0cb5f5; float: right; cursor: pointer; display: inline-block }
.admin_edit_button:hover { text-decoration: underline }
#gp_add_data_field { color: #4CBEFF; cursor: pointer; font-size: 13px; display: block; margin: 17px 0px }

/* Chosen */
.chosen-select { width: 355px }
.chzn-container { font-size: 13px; position: relative; display: inline-block; zoom: 1; *display: inline }
.chzn-container .chzn-drop { background: #fff; border: 1px solid #aaa; border-top: 0; position: absolute; top: 29px; left: 0; -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15); -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15); -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15); box-shadow        : 0 4px 5px rgba(0,0,0,.15); z-index: 999 }
.chzn-container-single .chzn-single { background-color: #fff; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white)); background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%); background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%); background-image: -o-linear-gradient(top, #eeeeee 0%,#ffffff 50%); background-image: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); background-image: linear-gradient(top, #eeeeee 0%,#ffffff 50%); -webkit-border-radius: 4px; -moz-border-radius   : 4px; border-radius        : 4px; -moz-background-clip   : padding; -webkit-background-clip: padding-box; background-clip        : padding-box; border: 1px solid #aaa; display: block; overflow: hidden; white-space: nowrap; position: relative; height: 26px; line-height: 26px; padding: 0 0 0 8px; color: #444; text-decoration: none }
.chzn-container-single .chzn-single span { margin-right: 26px; display: block; overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; text-overflow: ellipsis }
.chzn-container-single .chzn-single abbr { display: block; position: absolute; right: 26px; top: 8px; width: 12px; height: 13px; font-size: 1px; background: url(images/chosen-sprite.png) right top no-repeat }
.chzn-container-single .chzn-single abbr:hover { background-position: right -11px }
.chzn-container-single .chzn-single div { -webkit-border-radius: 0 4px 4px 0; -moz-border-radius   : 0 4px 4px 0; border-radius        : 0 4px 4px 0; -moz-background-clip   : padding; -webkit-background-clip: padding-box; background-clip        : padding-box; background: #ccc; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee)); background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%); background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%); background-image: -o-linear-gradient(bottom, #ccc 0%, #eee 60%); background-image: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 60%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); background-image: linear-gradient(top, #cccccc 0%,#eeeeee 60%); border-left: 1px solid #aaa; position: absolute; right: 0; top: 0; display: block; height: 100%; width: 18px }
.chzn-container-single .chzn-single div b { background: url('images/chosen-sprite.png') no-repeat 0 1px; display: block; width: 100%; height: 100% }
.chzn-container-single .chzn-search { padding: 3px 4px; position: relative; margin: 0; white-space: nowrap }
.chzn-container-single .chzn-search input { background: #fff url('images/chosen-sprite.png') no-repeat 100% -22px; background: url('images/chosen-sprite.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background: url('images/chosen-sprite.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); margin: 1px 0; padding: 4px 20px 4px 5px; outline: 0; border: 1px solid #aaa; font-family: sans-serif; font-size: 1em }
.chzn-container-single .chzn-drop { -webkit-border-radius: 0 0 4px 4px; -moz-border-radius   : 0 0 4px 4px; border-radius        : 0 0 4px 4px; -moz-background-clip   : padding; -webkit-background-clip: padding-box; background-clip        : padding-box }
.chzn-container-single-nosearch .chzn-search input { position: absolute; left: -9000px }
.chzn-container-multi .chzn-choices { background-color: #fff; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background-image: -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background-image: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background-image: -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background-image: -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); background-image: linear-gradient(top, #ffffff 85%,#eeeeee 99%); border: 1px solid #aaa; margin: 0; padding: 0; cursor: text; overflow: hidden; height: auto !important; height: 1%; position: relative }
.chzn-container-multi .chzn-choices li { float: left; list-style: none }
.chzn-container-multi .chzn-choices .search-field { white-space: nowrap; margin: 0; padding: 0 }
.chzn-container-multi .chzn-choices .search-field input { color: #666; background: transparent !important; border: 0 !important; padding: 5px; margin: 1px 0; outline: 0; -webkit-box-shadow: none; -moz-box-shadow   : none; -o-box-shadow     : none; box-shadow        : none }
.chzn-container-multi .chzn-choices .search-field .default { color: #999 }
.chzn-container-multi .chzn-choices .search-choice { -webkit-border-radius: 3px; -moz-border-radius   : 3px; border-radius        : 3px; -moz-background-clip   : padding; -webkit-background-clip: padding-box; background-clip        : padding-box; background-color: #e4e4e4; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e4e4e4), color-stop(0.7, #eeeeee)); background-image: -webkit-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%); background-image: -moz-linear-gradient(center bottom, #e4e4e4 0%, #eeeeee 70%); background-image: -o-linear-gradient(bottom, #e4e4e4 0%, #eeeeee 70%); background-image: -ms-linear-gradient(top, #e4e4e4 0%,#eeeeee 70%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#eeeeee',GradientType=0 ); background-image: linear-gradient(top, #e4e4e4 0%,#eeeeee 70%); color: #333; border: 1px solid #b4b4b4; line-height: 13px; padding: 3px 19px 3px 6px; margin: 3px 0 3px 5px; position: relative }
.chzn-container-multi .chzn-choices .search-choice span { cursor: default }
.chzn-container-multi .chzn-choices .search-choice-focus { background: #d4d4d4 }
.chzn-container-multi .chzn-choices .search-choice .search-choice-close { display: block; position: absolute; right: 3px; top: 4px; width: 12px; height: 13px; font-size: 1px; background: url(images/chosen-sprite.png) right top no-repeat }
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover { background-position: right -11px }
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close { background-position: right -11px }
.chzn-container .chzn-results { margin: 0 4px 4px 0; max-height: 190px; padding: 0 0 0 4px; position: relative; overflow-x: hidden; overflow-y: auto }
.chzn-container-multi .chzn-results { margin: -1px 0 0; padding: 0 }
.chzn-container .chzn-results li { display: none; line-height: 80%; padding: 7px 7px 8px; margin: 0; list-style: none }
.chzn-container .chzn-results .active-result { cursor: pointer; display: list-item }
.chzn-container .chzn-results .highlighted { background: #3875d7; color: #fff }
.chzn-container .chzn-results li em { background: #feffde; font-style: normal }
.chzn-container .chzn-results .highlighted em { background: transparent }
.chzn-container .chzn-results .no-results { background: #f4f4f4; display: list-item }
.chzn-container .chzn-results .group-result { cursor: default; color: #999; font-weight: bold }
.chzn-container .chzn-results .group-option { padding-left: 20px }
.chzn-container-multi .chzn-drop .result-selected { display: none }
.chzn-container-active .chzn-single { -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3); -o-box-shadow     : 0 0 5px rgba(0,0,0,.3); box-shadow        : 0 0 5px rgba(0,0,0,.3); border: 1px solid #5897fb }
.chzn-container-active .chzn-single-with-drop { border: 1px solid #aaa; -webkit-box-shadow: 0 1px 0 #fff inset; -moz-box-shadow   : 0 1px 0 #fff inset; -o-box-shadow     : 0 1px 0 #fff inset; box-shadow        : 0 1px 0 #fff inset; background-color: #eee; background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee)); background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%); background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%); background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%); background-image: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 50%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); background-image: linear-gradient(top, #ffffff 0%,#eeeeee 50%); -webkit-border-bottom-left-radius : 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomleft : 0; -moz-border-radius-bottomright: 0; border-bottom-left-radius : 0; border-bottom-right-radius: 0 }
.chzn-container-active .chzn-single-with-drop div { background: transparent; border-left: none }
.chzn-container-active .chzn-single-with-drop div b { background-position: -18px 1px }
.chzn-container-active .chzn-choices { -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3); -moz-box-shadow   : 0 0 5px rgba(0,0,0,.3); -o-box-shadow     : 0 0 5px rgba(0,0,0,.3); box-shadow        : 0 0 5px rgba(0,0,0,.3); border: 1px solid #5897fb }
.chzn-container-active .chzn-choices .search-field input { color: #111 !important }
.chzn-disabled { cursor: default; opacity: 0.5 !important }
.chzn-disabled .chzn-single { cursor: default }
.chzn-disabled .chzn-choices .search-choice .search-choice-close { cursor: default }
.chzn-rtl { direction: rtl; text-align: right }
.chzn-rtl .chzn-single { padding-left: 0; padding-right: 8px }
.chzn-rtl .chzn-single span { margin-left: 26px; margin-right: 0 }
.chzn-rtl .chzn-single div { left: 0; right: auto; border-left: none; border-right: 1px solid #aaaaaa; -webkit-border-radius: 4px 0 0 4px; -moz-border-radius   : 4px 0 0 4px; border-radius        : 4px 0 0 4px }
.chzn-rtl .chzn-choices li { float: right }
.chzn-rtl .chzn-choices .search-choice { padding: 3px 6px 3px 19px; margin: 3px 5px 3px 0 }
.chzn-rtl .chzn-choices .search-choice .search-choice-close { left: 5px; right: auto; background-position: right top }
.chzn-rtl.chzn-container-single .chzn-results { margin-left: 4px; margin-right: 0; padding-left: 0; padding-right: 4px }
.chzn-rtl .chzn-results .group-option { padding-left: 0; padding-right: 20px }
.chzn-rtl.chzn-container-active .chzn-single-with-drop div { border-right: none }
.chzn-rtl .chzn-search input { background: url('images/chosen-sprite.png') no-repeat -38px -22px, #ffffff; background: url('images/chosen-sprite.png') no-repeat -38px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee)); background: url('images/chosen-sprite.png') no-repeat -38px -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat -38px -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat -38px -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat -38px -22px, -ms-linear-gradient(top, #ffffff 85%,#eeeeee 99%); background: url('images/chosen-sprite.png') no-repeat -38px -22px, linear-gradient(top, #ffffff 85%,#eeeeee 99%); padding: 4px 5px 4px 20px }
.wordwrap { width: 235px;word-break:break-word; }

.olControlLoadingPanel
{
    background-image: url(images/map/loading.gif);
    margin-left: 30%;
    margin-top: 50%;
    position: relative;
    width: 195px;
    height: 11px;
    background-position:center;
    background-repeat:no-repeat;
    display: none;
}

<?php ob_end_flush(); ?>
